*{
margin:0px;
padding:0px;
}





div#general{
	
	margin-top:0px;
	
	background="body background="new.jpg";
}

div#video{
	margin:0px;
	float:right;
	width:900px;
	height:400px;
		font-family:arial;
	background:body background="new.jpg";
}


div#novedades{
	margin:0px;
	width:300px;
	height:250px;
	background:body background="new.jpg";
	
}



div#mere{
		float:center;
	margin:0px;
	width:1100px;
	height:700px;
	font-family:arial;
	background:body background="new.jpg";
	
	
}









div#menu {
	width:200px;
	margin-top:0px;
	}

div#menu ul {
	
	list-style:none;
}

div#menu ul li {
	margin-top:05px;
	font-family:tahoma;
	font-size:18px;
	background-color:#639bb3;
	width:180px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:0px 20px 20px 0px;
	padding-left:20px;
	box-shadow:5px 0px 10px #939393;
	-webkit-transition:padding-left 0.6s;
	color:white;
	}
	
div#menu ul li:hover{
	padding-left:50px;
}	
	
	


	

	


		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
